/* =====================================================================
	CUSTOM CSS STYLES applied to forms only
=======================================================================*/
@import "appvariables.less";
@import "form.less";
@import "../libs/bootstrap-3.3.6/less/mixins/text-overflow.less";

h1.admin-theme {
	font-family: @font-helveticaHv;
	margin-top: 25px;
	margin-bottom: 30px;
	font-size: 36px;
}

h2.admin-theme {
	background-color: @brand-two;
	padding: 5px 10px;
	font-size: 1em;
	display: inline-block;
	width: auto;
}

h3.admin-theme {
	font-family: @font-helveticaBd;
	background-color: @brand-one;
	color: #fff;
	padding: 5px 10px;
	font-size: 0.8em;
	display: inline-block;
	width: auto;
}


/* customized version of Bootstrap .dl-horizontal (doesn't collapse on print / xs / screen) */
.dl-horizontal-print {
  dd {
    &:extend(.clearfix all); // Clear the floated `dt` if an empty `dd` is present
  }

  dt {
      float: left;
      width: (140px - 20);
      clear: left;
      text-align: right;
      .text-overflow();
    }
    dd {
      margin-left: 140px;
    }
}

.dl-inline {
	display:table;
}

.dl-inline dt, .dl-inline dd {
	display:table-cell;
	
}
.dl-inline dt {
	padding-right: 10px;
}

.dl-inline dd {
	padding-right: 20px;
}

/* inquiry overview (changing inquiry state) */
table select.form-control {display:inline-block; width: auto;}

.errors p { color: @state-danger-bg; font-weight: bold}

.admin-menu {margin-bottom: 2em;}

/* print layout */
.print { font-size: 12px; } 
.print dd strong {font-size: 16px;}
.print td, .print th, .print table {border-color: #000 !important;}
#signature p { border-top: 1px dotted #000;	padding-top: 10px; margin-top: 50px;}
.legend-canvas {
	border: 2px solid #000;
	padding: 10px;
	margin-bottom: 20px;
}
.legend-canvas h4 {
	font-weight: bold;
	margin-top: 0;
}

tfoot {
	font-weight: bold;
	border: 2px solid #000;
}
