/*
 *  CSS/Less styles common to whole application - custom classes definitions and Bootstrap css overrides. 
 *	@author Pavla Novakova (pavla.novakova@gmail.com)
 */
/* =====================================================================
	CUSTOM CSS STYLES applied to whole application
=======================================================================*/

@import "appvariables.less";
@import "../libs/bootstrap-3.3.6/less/mixins.less";

/** custom fonts */
@font-face {font-family: HelveticaNeueLTPro-Hv; src: url(../fonts/HelveticaNeueLTPro-Hv.otf);}
@font-face {font-family: HelveticaNeueLTPro-Bd; src: url(../fonts/HelveticaNeueLTPro-Bd.otf);}
@font-face {font-family: HelveticaNeueLTPro-Th; src: url(../fonts/HelveticaNeueLTPro-Th.otf);}
@font-face {font-family: HelveticaNeueLTPro-Lt; src: url(../fonts/HelveticaNeueLTPro-Lt.otf);}

/* menu links */
.navbar-nav > li > a {font-family: @font-helveticaBd;  font-size: 18px; }

/* common styling - set custom bold font */
b, strong, dt, .checkbox-bold label { font-family: @font-helveticaBd; font-weight: normal }
label {font-weight: normal}
a.btn {text-decoration: none;}
a {text-decoration: underline; }
a:hover {text-decoration: none;}
.theme-inverse a { color: #fff; text-decoration: none;}
.theme-inverse a:hover { color: @brand-two; } 
h2.theme {
	font-family: @font-helveticaBd;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 30px;
}
ul.theme-indent li, p.theme-indent, fieldset.theme-indent, div.theme-indent {	margin-left: 30px; }
@media (max-width: 767px) {	ul.theme-indent li, p.theme-indent { margin-left: 0px; }}

p.theme {font-size: 15px}
section.theme {margin-bottom: 30px;}
p.font-size-md {font-size: 18px;}
.container-error p {
	margin-bottom: 2em;
}
/* vertical space between buttons when stacked vertically */
.btns .btn, .form-actions .btn { margin-bottom: 0.5em;}

/* intro page headlines */
#intro h2, h1.theme {
	font-family: @font-helveticaHv;
	border-top: 15px solid @text-color;
	padding-top: 25px;
	margin-bottom: 30px;
	font-size: 36px;
}

/* layout */
#intro section.theme {margin-bottom: 70px;}
@media (max-width: 767px) {  #intro section { margin-bottom: 30px; }}

.photos {
	margin-top: 50px;
}

.photos .thumbnail {
	border: none;
}

/***********************************************************************************************/
/* common page parts / components
/***********************************************************************************************/  

/* page intro text */
.perex {
	font-family: @font-helveticaTh;
	font-size: 22px;
	margin-bottom: 0;}

/* online inquiry button */
#inquiry-btn { padding: 0; border: 0; font-size: 30px; margin-bottom: 30px; display:inline-block; }
#inquiry-btn.block {display:block; max-width: 10em; margin-top: 40px;}
#inquiry-btn .btn-text {
	line-height: 50px;
	font-size: 18px;
	font-family: @font-helveticaBd;
	color: @gray-base;
	display: inline-block;
	padding: 0px 16px 0px 16px;
}
#inquiry-btn .btn-icon {
	line-height: 50px;
	color: #fff;
	background-color: @brand-one;
	float: left;
	padding: 0 16px;
	
}
@media (max-width: 767px) {  #inquiry-btn {border: 1px solid @brand-two;}}

/* services pages and service menu */
.container-service {margin-top: 30px; margin-bottom: 80px;}

#services-menu a {
	color: @brand-one;
	font-family: @font-helveticaBd;  font-size: 18px; 
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid @brand-one;
	text-decoration: none;
}

#services-menu a:hover, #services-menu li.active a {
	color: @brand-two;
}
#services-menu li.active a {
	border-color: @brand-two;
}
@media (max-width: 767px) {  
	.container-service-menu {text-align: center;}
 	.container-service-menu #inquiry-btn {
 		margin: auto;
 		border:none;
 	}
}


/* intro page + service page - services section */

#services-wrapper h3, #services-wrapper h2 {
	max-width: 400px;
}

@media (max-width: 767px) {  
 	#services-wrapper h3, #services-wrapper h2 { margin-left: auto;  margin-right: auto;}
}

#services-wrapper h3 span, #services-wrapper h2 span {
	background-repeat: no-repeat;
	background-position: center top; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	display:block;
}

@media (max-width: 767px) {  #services-wrapper h3 span, #services-wrapper h2 span { background-image: none; }}
@media (min-width: 768px) {  #services-wrapper h3 span { height: 200px; }
							 #services-wrapper h2 span { height: 140px; }	
}
@media (min-width: 1200px) { #services-wrapper h3 span  { height: 247px; } 
							 #services-wrapper h2 span {height: 200px;}
}

#services-wrapper h3 a.link-text, #services-wrapper h2 a.link-text {
	font-family: @font-helveticaHv;
	font-size: 26px;
	background-color: @brand-one;
	color: #fff;
	text-align: center;
	display:block;
	padding-top: 20px;
	padding-bottom: 15px;
}

#services-wrapper h2 a.link-text {font-size: 18px;}

#services-wrapper h3 a:hover, #services-wrapper h2 a:hover {
	color: @brand-two;
}

#odstranit span {background-image: url('../imgs/odstranit-strom.jpg');}
#vysadit span {background-image: url('../imgs/vysadit-strom.jpg');}
#orezat span {background-image: url('../imgs/orezat-strom.jpg');}
#zabezpecit span {background-image: url('../imgs/zabezpecit-strom.jpg');}
#zhodnotit span {background-image: url('../imgs/zhodnotit-strom.jpg');}
#skoleni span {background-image: url('../imgs/skoleni.jpg');}
#frezovani span {background-image: url('../imgs/frezovani-parezu.png');}

/* services pages */
li h3 {font-family: @font-helveticaBd; font-size: 15px;}	
li h3 small {font-family: @font-helveticaTh; font-size: 15px;}


/***********************************************************************************************/
/* prefoo section
/***********************************************************************************************/
#prefoo {
	margin-top: 120px;
	margin-bottom: 80px;
}
#prefoo-text {
	font-family: @font-helveticaHv;
	font-size: 30px;
	text-align: center;
	margin-bottom: 80px;
	
}
@media (max-width: 767px) { 
	#prefoo-logos p { margin-bottom: 2.5em;	}
	#prefoo { margin-top: 50px; margin-bottom: 30px;}
	#prefoo-text {margin-bottom: 50px;}
}

/***********************************************************************************************/
/* footer
/***********************************************************************************************/

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 392px;
}
footer {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 312px;
  width: 100%;
}

footer .container { text-align: center;  background-color: @gray-base; color: #fff; width: 100%; }
footer .container-inner { margin-top: 30px;	margin-bottom: 30px; }
footer .container-inner div {margin-bottom: 35px;}
footer p {
	font-family: @font-helveticaLt;
	font-size: 14px;
	display: inline-block; 
}
footer p#gdpr {
	display: block;
}
footer .fa-facebook {color: #0069b4; font-size: 36px;}

/***********************************************************************************************/
/* homepage
/***********************************************************************************************/  
/* homepage intro picture */
.jumbotron {
  background: url(../imgs/kaceni-sarapatka.jpg) no-repeat center top; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.jumbotron {background-color: @brand-one; color: #fff;}
.jumbotron .perex-container {margin-top: 20%; margin-bottom: 20%;}
.jumbotron h1 {
	font-family: HelveticaNeueLTPro-Bd, @font-family-sans-serif; 
	font-size: 48px;
	line-height: 1.2; 
	margin-bottom: 20px; }
@media (max-width: 767px) {  
	.jumbotron .perex-container {margin-top: 0; margin-bottom: 0;}
	.jumbotron {background-image: none; text-align: center}
}

@media (max-width: @screen-md-max) { .reset-col {margin-top: 20px;}  }

/***********************************************************************************************/
/* news
/***********************************************************************************************/  
dl.news dd {margin-bottom: 2em;}
.news-education {margin-top: 2em;}


       	