/*
 *  Bootstrap customization. Define custom properties/variables here.
 *   
 *  @author Pavla Novakova 
 */
@import "../libs/bootstrap-3.3.6/less/variables.less";

/*
@grid-columns:   24;
@font-family-sans-serif:   "Arial CE", "Helvetica CE", Arial, Helvetica, sans-serif;
@font-size-base:   11px;
@padding-base-vertical:   3px;
@padding-base-horizontal:   6px;
@padding-large-vertical:   3px;
@padding-large-horizontal:   6px;
@padding-small-vertical:   2px;
@padding-small-horizontal:   5px;
@brand-primary:   #c03233;
@brand-warning:   #c07232;
@brand-info:   #1e7373;
@brand-success:   #289a28;
@state-danger-text:   @brand-danger;
@state-danger-bg:   #f5c8c1;
@state-warning-bg:   #e0ae85;
@state-warning-text:   #7d4001;
@state-info-bg:   #6eb9b9;
@state-success-bg:   #79cc79;
@state-info-text:   #0a4b4b;
@state-success-text:   #0d604d;
@border-radius-small:   0px;
@border-radius-large:   0px;
@border-radius-base:   0px;
@brand-danger:   #7d1010;
@navbar-padding-vertical:   3px;
@navbar-height:   @line-height-computed + 6px;
@navbar-inverse-color:   #fff;
@navbar-inverse-bg:   #848484;
@navbar-inverse-link-color:   @navbar-inverse-color;
@navbar-inverse-link-hover-color:   @navbar-inverse-color;
@navbar-inverse-link-hover-bg:   darken(@navbar-inverse-bg, 5%);
@panel-primary-border:   #ddd;
@badge-bg:   #7d1010;
@badge-active-color:   @badge-color;
@badge-active-bg:   #7d1010;
@nav-link-hover-bg:   #d0d0d0;
@icon-font-path:   "libs/fonts/";
*/

@brand-one: #073a49; // blue
@brand-two: #d9dc37; // yellow
@brand-primary: @brand-two;
@link-color: #488ccb;
@link-hover-color: @link-color;
@navbar-inverse-bg: @brand-one;
@navbar-inverse-link-color: #fff;
@navbar-inverse-link-hover-color: @brand-two;
@navbar-inverse-link-active-bg: @navbar-inverse-bg;
@navbar-margin-bottom: 0;
@navbar-height: 70px; 
@btn-primary-color: @brand-one;
@btn-default-color: #fff;
@btn-default-bg:@brand-one;
@border-radius-base: 0px;
@border-radius-small: 0px;
@border-radius-large: 0px;
@font-size-base: 15px;
@text-color: @gray-base;
@grid-float-breakpoint: 995px;
@font-family-sans-serif-base: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@font-helveticaHv: HelveticaNeueLTPro-Hv, @font-family-sans-serif-base;
@font-helveticaBd: HelveticaNeueLTPro-Bd, @font-family-sans-serif-base;
@font-helveticaTh: HelveticaNeueLTPro-Th, @font-family-sans-serif-base;
@font-helveticaLt: HelveticaNeueLTPro-Lt, @font-family-sans-serif-base;
@font-family-sans-serif: @font-helveticaLt;
@state-danger-bg: #d9534f;
@state-danger-text: #d9534f;
@state-success-bg: #5f8d2b;
@state-success-text: #fff;
@alert-danger-text: #fff;



