/* =====================================================================
	CUSTOM CSS STYLES applied to forms only
=======================================================================*/
@import "appvariables.less";

/***********************************************************************************************/
/* form controls css                                                                           */
/***********************************************************************************************/  

.form-group.required label {position: relative;}
.form-group.required .form-label {padding-right: 2em;}
.form-group.required label:after, .form-group.required .form-label:after {
    color: @brand-danger;
    content: " *";
    position: absolute;
    top: 0.1em;
    margin-left: 0.2em;
    font-size: 1.3em;
}
.error-block {
	color: #fff;
	display: block;
	font-weight: 700;
	padding: 0.2em 0.6em 0.3em;
	background-color: @brand-danger;
	margin-top: 1em;
	
} 
.form-actions {margin-top: 1em; margin-bottom: 1em;}
.form-actions .btn {margin-bottom: 1em;}

/***********************************************************************************************/
/* inquiry uploaded images preview                                                             */
/***********************************************************************************************/
.img-container p {float: left; margin-right: 20px; }
.img-container a {text-decoration: none; }
.img-container span.img {
 	width: 180px;
 	height: 180px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: block;
    margin-bottom: 10px;
}
form .img-container i, form .btn i {position: relative !important;}

input.auto-width, select.auto-width, textarea.auto-width, form.auto-width input, form.auto-width select, form.auto-width textarea  {
	width: auto !important;
}

.map-modal-dialog { width: 80%; }
@media (max-width: 768px) { .map-modal-dialog {	width: 100%; }}