/* =====================================================================
	CUSTOM CSS STYLES applied to inquiry form only
=======================================================================*/
@import "appvariables.less";

legend small { font-size: 0.8em;}
legend {
	background-color: @brand-two;
	padding: 5px 10px;
	font-size: 1em;
	display: inline-block;
	width: auto;
}
@media (max-width: 768px) {	legend { width: 100%; display:block;}}
fieldset.theme-indent {
	margin-top: 30px;
	margin-bottom: 30px;
}

/***********************************************************************************************/
/* modal dialogs                                                                               */
/***********************************************************************************************/
.loading-modal .modal-dialog {
	border: 1px solid #acacac;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    width: 200px;
}
.vertical-alignment-wrapper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.vertical-alignment-wrapper .modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

.loading-modal .modal-body {

	text-align: center;
}
/***********************************************************************************************/
/* other customizations
/***********************************************************************************************/
#DISPOSAL .checkbox {display:inline-block; }
#DISPOSAL .checkbox-col-one {width: 80px;}

